.SearchBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: white;
}

.SearchBar div img {
    width: 100px;
    height: auto;
    margin-left: 50px;
}

.fa-instagram {
    font-size: 50px;
    padding-right: 50px;
    border-right: 1px solid black;
}

.SearchBar form {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #eee;
    border: 1px solid lightgray;
    border-radius: 5px;
    text-align: center;
}

.SearchBar form i {
    font-size: 12px;
    margin: 5px;
    color: gray;
}

.SearchBar form input {
    border: 0;
    font-weight: bold;
    font-size: 15px;
    color: darkgray;
    background: #eee;
    display: inline-block;
    width: 40%;
}

.SearchBar span i {
    margin: 0 20px;
    font-size: 25px;
}