.CommentSection {
    text-align: left;
    padding: 5px 20px 20px 20px;
}

.CommentSection .Comment b {
    margin-right: 5px;
}

.CommentSection .Comment:first-child {
    margin-top: 0;
}

.CommentSection input {
    border: 0;
    width: 100%;
}