.PostContainer {
    width: 35%;
    margin: 10px auto;
    border: 1px solid lightgray;
    border-radius: 5px;
    text-align: left;
}

.PostContainer:first-child {
    margin-top: 100px;
}

.PostContainerHeader {
    display: flex;
    align-items: center;
    padding: 10px;
}

.PostContainerHeader img {
    width: 30px;
    border-radius: 30px;
}

.PostContainerHeader span {
    font-weight: bold;
    margin: 5px;
}

.PostContainerImage img {
    width: 100%;
    height: auto;
}

.PostContainerStats {
    padding: 20px 20px 5px 20px;
}

.PostContainerStats .fas.fa-heart {
    margin-right: 10px;
    font-size: 25px;
    margin-bottom: 5px;
    color: red;
}

.PostContainerStats .far.fa-heart {
    margin-right: 10px;
    font-size: 25px;
    margin-bottom: 5px;
}

.PostContainerStats .fa-comment {
    font-size: 25px;
    margin-bottom: 5px;
}